.title {
  color: blueviolet;
}

.new {
  border: 1px solid rgb(129, 35, 91);
  padding: 10px;
}

.f30 {
  font-size: 30px;
}
.active {
  color: rgb(129, 35, 91);
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#home {
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW92aWVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  min-height: 300px;
  position: relative;
}
