.app-container {
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#quiz-box #header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.bi-arrow-right {
  font-size: 20px;
}

.option-list {
  padding: 18px 10px;
}
.option-list .option {
  border: 1px solid #151d3b;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-list .option:hover {
  color: #112b2c;
  background-color: #ffd33d;
}

.option-list .option.correct {
  color: rgba(43, 159, 43, 0.822);
  background-color: #e9efea;
}

.option-list .option.incorrect {
  color: rgb(135, 15, 15);
  background-color: #f8d7da;
}

.option-list .option.disabled {
  pointer-events: none;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* score box */
#score-box {
  display: block;
  text-align: center;
  padding: 30px;
}

#score-box i {
  font-size: 90px;
  color: #007bff;
  margin-bottom: 10px;
}

#score-box .score-text {
  font-size: 18px;
  font-weight: 500px;
  margin-bottom: 10px;
}
#button-box {
  text-align: center;
}

#button-box,
#quiz-box,
#score-box {
  display: none;
}
#button-box.active,
#quiz-box.active,
#score-box.active {
  display: block;
}

/* remaining time */
.time {
  display: flex;
  align-items: center;
  background: #ffc107;
  font-size: 20px;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

.time .time-text {
  font-size: 17px;
}
.time .time-second {
  background: #007bff;
  border-radius: 3px;
  padding: 3px;
  margin-left: 3px;
  width: 28px;
  text-align: center;
}

.btn-next {
  opacity: 0;

  transform: scale(0.7);
  transition: all 0.3s ease;
}

.btn-next.show {
  opacity: 1;
  transform: scale(1);
}

.time-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #f0a500;
}
