* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
main {
  margin-top: 50px;
}

#showcase {
  background: linear-gradient(
      to bottom,
      rgba(252, 153, 252, 0.2),
      rgba(250, 107, 250, 0.2)
    ),
    url("../img/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  position: relative;
}

#showcase .content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
  background: rgba(46, 76, 109, 0.3);
  padding: 20px;
  width: 60%;
  border-radius: 10px;
}

#showcase h1 {
  position: absolute;
  top: 50%;
  margin: 0;
  color: #fff;
  font-size: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-header {
  background-color: #fc99fc;
  padding: 8px 16px;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 101px);
  text-align: right;
  font-family: "Roboto Mono", monospace;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 10px;
}

.main-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}
.main-header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
}

.main-nav__item a:hover,
.main-nav__item:hover::before {
  color: #2e4c6d;
}

.main-nav__item:active::before,
.main-nav__item a:active {
  color: #fff;
}

.main-nav__item::before {
  content: "\2022";
  color: #fff;
}

.main-nav__item--login::before {
  content: none;
}

#how-it-works {
  padding: 10px;
  text-align: center;
}

.row {
  margin-bottom: 40px;
}
.col-3 {
  display: inline-block;
  width: 30%;
  padding: 16px;
  margin: 8px;
}
.col-2 {
  display: inline-block;
  width: calc(50% - 2px);
  height: 350px;
  background-color: brown;
}

.icon-box h3 {
  color: #3e4555;
  font-size: 26px;
}
.icon-box i {
  color: #fc99fc;
}
.features__left {
  background: linear-gradient(
      to bottom,
      rgba(252, 153, 252, 0.2),
      rgba(250, 107, 250, 0.2)
    ),
    url("../img/features.jpeg");
  background-size: cover;
  background-position: top center;
}

.features__right {
  background-color: #edf5f7;
  padding: 40px;
  vertical-align: top;
}
.features__right h3 {
  font-size: 30px;
}
#features a {
  background-color: #fc99fc;
  color: #fff;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  border: 1px solid #fc99fc;
  border-radius: 3px;
  display: inline-block;
  margin-top: 15px;
}
#features a:hover {
  border: 1px solid #fc99fc;
  color: #fc99fc;
  background-color: #fff;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: #3e4555;
  font-size: 30px;
}

.plan {
  text-align: center;
  padding: 5px;
  width: 33.3%;
  float: left;
}

.plan__badge {
  background: #fc99fc;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}

.recommended_plan {
  color: #fff;
  background-color: #2e4c6d !important;
}

.inner-plan {
  background: #edf5f7;
  padding: 25px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transition: box-shadow 0.6s;
}

.inner-plan:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan--featured {
  position: relative;
  top: -20px;
}

.plan__features li {
  margin: 6px 0px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  margin: 0 auto;
  width: 1000px;
}

#backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#backtotop i {
  color: #2e4c6d;
  font-size: 45px;
  transition: color 0.6s;
}

#backtotop i:hover {
  color: #263f5a;
}
