.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition-duration: 0.6s;
}

.btn-primary {
  background-color: #fc99fc;
  color: #fff;
  border: 2px solid #fc99fc;
}

.btn-primary:hover {
  background-color: #fff;
  color: #fc99fc;
  border: 2px solid #fc99fc;
}

.btn-outline-primary {
  background-color: #fff;
  color: #fc99fc;
  border: 2px solid #fc99fc;
}

.btn-outline-primary:hover {
  background-color: #fc99fc;
  color: #fff;
  border: 2px solid #fc99fc;
}

.btn-secondary {
  background-color: #2e4c6d;
  color: #fff;
  border: 2px solid #2e4c6d;
}

.btn-secondary:hover {
  background-color: #fff;
  color: #2e4c6d;
  border: 2px solid #2e4c6d;
}

.btn-outline-secondary {
  background-color: #fff;
  color: #2e4c6d;
  border: 2px solid #2e4c6d;
}

.btn-outline-secondary:hover {
  background-color: #2e4c6d;
  color: #fff;
  border: 2px solid #2e4c6d;
}
